.eventList { /* stylelint-disable */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3em;
  max-width: 98em;
  align-self: center;
}
