.eventCard { /* stylelint-disable */
  width: 20em;
  height: 24em;
  margin: 1em;
  background-color: white;
  box-shadow: 2px 2px 10px #8f8f8F;
}
.inline {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3em;
}
.header {
  /*
  background-attachment: fixed;
  background-size: contain;
  */
  background-attachment: inherit;
  background-size: cover;
  height: 6em;
  background-position: center center;
}

.body {
  margin-left: 1em;
  margin-right: 1em;
  text-align: left;
}

.bodyTitle{
  padding-top: 0.5em;
  height: 3.3em;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
}

.bodySubTitle{
  margin-top: 0.5em;
  font-size: 0.8em;
}

.subTitleIcon {
  vertical-align: sub;
  margin-right: 1em;
}

.subTitleText {
  text-transform: capitalize;
}
