.eventCard { /* stylelint-disable */
  width: 20em;
  height: 24em;
  margin: 1em;
  background-color: white;
  position: relative;
  border-radius: 0.3em;
  box-shadow: 2px 2px 10px #8f8f8F;
}
.inline {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3em;
}
.header {
  /*
  background-attachment: fixed;
  background-size: contain;
  */
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  background-attachment: local;
  background-size: cover;
  height: 6em;
  background-position: center center;
}

.body {
  margin-left: 1em;
  margin-right: 1em;
  text-align: left;
}

.bodyTitle{
  padding-top: 0.5em;
  height: 3.3em;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
}

.bodySubTitle {
  margin-top: 1em;
  font-size: 0.8em;
}

.bodySubTitleContent {
  height: 8em;
}
.buttonArea {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
}

.bodyFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-top-color: rgb(230, 230, 230);
  border-top-width: 1px;
  border-top-style: solid;
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
}

.bodyFooterText {
  font-size: 0.7em;
  color: rgb(170, 170, 170);
}

.bodyFooterText span {
  padding: 0.5em;
}

.subTitleIcon {
  vertical-align: sub;
  margin-right: 1em;
}

.subTitleText {
  text-transform: capitalize;
}
