/**
 * styles.css
 *
 * App container styles
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: -1.4em;
  padding: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  color: #111;
  background-color: #FFF;
}

.container {
  display: block;
}
